body {
	width: 1000px;
	margin: 0 auto;
	background-color:#F2F2F2;
	font-size: 12pt;
	padding: 0;
}
ul {
	margin: 0 0 0 25px;
	padding: 0;
}
table {
	border-collapse: collapse;
}
table th {
	width: 150px;
}
table td {
	border: 1px solid black;
	width: 150px;
}
