html {overflow-y: scroll;}
html, body { height: 100%; }
body { margin: 10px; background-color: rgb(255,255,255); font-family: verdana,sans-serif; }
td, body { font-size: 8pt; }
#CPanelButtons{ padding: 0px; margin:0px; text-decoration:none; }
#CPanelButtons a { padding: 0px; margin:0px; text-decoration:none; }
#CPanelButtons img{ padding: 0px; margin:0px; text-decoration:none; }
fieldset { border: 1px solid #daeeed; border-right: 2px solid #c5dfde; border-bottom: 2px solid #c5dfde; padding:15px;}
legend { margin-left: 8px; color: #0066cc; font-weight: bold; letter-spacing: -1px; }
legend img { vertical-align: text-top; }
label { display: block; margin-top:20px; font-weight: bold; letter-spacing: -1px; color: black; font-size:8pt;}
.inlinelabel label {display:inline;font-weight:normal;letter-spacing:normal;}
.helpMessage {cursor:help;}
fieldset br { clear: left; }
.hidden {display:none;}

.error { padding-left: 5px; font-weight: bold; }
.errorsum { border: 1px dotted #edd5ca; margin-bottom: 10px; padding-bottom: 5px;}
.errorsum b { padding: 6px; margin-bottom: 0px; background: #fdf7f4; display:block;}
.errorsum ul { margin: 0px; padding-left: 25px; line-height:20px;}

.textbox {border:solid 1px #c6c59a;border-bottom-width:2px;background:url('images/input_background.gif') repeat-x white;color:#333333;}
select {font-size:8pt;border:solid 1px silver;}
.help {color:rgb(80,80,80);font-family:tahoma;letter-spacing:normal;font-weight:normal;}
.help a, .help a:visited, .help a:active, .help a:link {color:rgb(100,100,100);}
.info {cursor:help;}
.left {width:46%;float:left;padding-right:50px;}
.right {width:46%;float:left;}
.r {color:red;font-weight:bold;}

/* overriding general font sizes */
.fonttiny * { font-size: 9px!important;}
.fontavg * {font-size: 11px!important;}
.fontavglarge * { font-size: 12px!important;}
.fontlarge * { font-size: 14px!important;}
table {border-collapse: collapse; }
table, th, td { border: 1px solid black; margin: 5px; padding: 5px; font-size: 10pt; }
.wrapper { min-height: 97%; height: auto !important; height: 97%;	margin: 0 auto -50px; }
.footer, .push { height: 50px; font-size: 8pt; text-align: center; }
h1 { margin-bottom: 2px; font-family: Garamond, "Times New Roman", Times, Serif; }
div.container { margin: auto; width: 90%; margin-bottom: 10px; }
input, textarea { font-family: Arial, verdana; font-size: 10pt; padding: 7px; border: 1px solid #999;}
label { font-weight: bold; display: inline; margin-top: 10px; } 
img { margin: 5px; }
ul.tabNav { list-style: none; margin: 0; padding: 0; }
ul.tabNav li { display: inline; }
ul.tabNav li a { padding: 3px 5px; background-color: #ccc; color: #000; text-decoration: none; }
ul.tabNav li a.selected,
ul.tabNav li a:hover { background-color: #333; color: #fff; padding-top: 7px;}
ul.tabNav li a:focus {outline: 0; }
div.tabs > div { padding: 5px; margin-top: 3px; border: 5px solid #333;}
div.tabs > div h2 {margin-top: 0;}
.waste {min-height: 100px;}
ul#topnav { margin: 0; padding: 0; float:left; width: 100%;	list-style: none;	font-size: 1.3em; }
ul#topnav li { float: left; margin: 0; padding: 0; position: relative; /*--Important--*/ }
ul#topnav .help {margin-right: 15px;}
ul#topnav li a { float: left;	/*text-indent: -9999px; --Push text off of page--*/	height: 44px; }
ul#topnav li:hover a, ul#topnav li a:hover { background-position: left bottom; } /*--Hover State--*/
ul#topnav li .sub { position: absolute; /*--Important--*/	top: 22px; left: 0;	z-index: 99999;	background: #9BBAC7;/*--Background gradient--*/	padding: 0px 0px 0px;	float: left;	/*--Bottom right rounded corner--*/ 
  -moz-border-radius-bottomright: 5px;
  -khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	/*--Bottom left rounded corner--*/
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	display: none; /*--Hidden for those with js turned off--*/}
ul#topnav li .row { /*--If needed to break out into rows--*/	clear: both;	float: left;	width: 100%;	margin-bottom: 1px;}
ul#topnav li .sub ul{	list-style: none;	margin: 0; padding: 0;	width: 100px;	float: left;}
ul#topnav .sub ul li {	width: 100%; /*--Override parent list item--*/	}
ul#topnav .sub ul li h2 { /*--Sub nav heading style--*/	padding: 0;  margin: 0;	font-size: 1.3em;	font-weight: normal;}
ul#topnav .sub ul li h2 a { /*--Sub nav heading link style--*/	padding: 0px 0;	background-image: none;	color: #e8e000;}
ul#topnav .sub ul li a {	float: none;
	text-indent: 0; /*--Override text-indent from parent list item--*/
	height: auto; /*--Override height from parent list item--*/
	padding: 10px 10px 10px 10px;
	display: block;
	text-decoration: none;
	color: black;}
ul#topnav .sub ul li a:hover {	color: #ddd; background-color:778F99;	background-position: 5px 12px ;/*--Override background position--*/}
.invoice{ text-align: center; width: 800px; font-size: normal; }